@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,700&display=swap");
@-webkit-keyframes from-right {
  0% {
    opacity: 0%;
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes from-right {
  0% {
    opacity: 0%;
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes from-left {
  0% {
    opacity: 0%;
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes from-left {
  0% {
    opacity: 0%;
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes from-up {
  0% {
    opacity: 0%;
    -webkit-transform: translatey(80px);
            transform: translatey(80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes from-up {
  0% {
    opacity: 0%;
    -webkit-transform: translatey(80px);
            transform: translatey(80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@media (min-width: 1280px) {
  .contenido, .contenido__community, .contenido__pricing, .contenido__support {
    width: 60%;
    margin: auto;
    margin-top: 2rem;
  }
}

@media (max-width: 1279px) {
  .contenido, .contenido__community, .contenido__pricing, .contenido__support {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
  }
}

@media (max-width: 1080px) {
  .contenido, .contenido__community, .contenido__pricing, .contenido__support {
    grid-gap: 0px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr);
  }
  .contenido img, .contenido__community img, .contenido__pricing img, .contenido__support img {
    width: 70%;
    height: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .contenido p, .contenido__community p, .contenido__pricing p, .contenido__support p {
    text-align: center;
  }
  .nav {
    width: 80%;
  }
}

@media (min-width: 890px) {
  .nav {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .nav .logo__responsive {
    display: none;
  }
  .nav .bars {
    display: none;
  }
  .nav #check {
    display: none;
  }
}

@media (max-width: 890px) {
  .header {
    /* position: fixed;
        top: 0px;
        width: 100%;
        z-index: 3;
        box-shadow: $box-shadow;
        transition: all 0.5s; */
  }
  .contenido, .contenido__community, .contenido__pricing, .contenido__support {
    min-height: calc(100vh - 230px);
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .nav .nav__menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    position: fixed;
    width: 100%;
    height: 30%;
    top: 121px;
    background-color: aliceblue;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 1;
  }
  .nav .nav__menu img {
    display: none;
  }
  .nav .bars {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    color: aliceblue;
    cursor: pointer;
  }
  .nav #check {
    display: none;
  }
  .nav #check:checked ~ .nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  padding: 2rem;
  background-color: #514AAC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  z-index: 3;
  -webkit-box-shadow: 0rem 0.15rem 0.5rem #00004f;
          box-shadow: 0rem 0.15rem 0.5rem #00004f;
}

.nav {
  width: 60%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav ul {
  width: 100%;
  margin: auto;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.nav ul a {
  text-decoration: none;
  color: aliceblue;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  text-shadow: 0.05rem 0.05rem 0.5rem #00004f, -0.05rem -0.05rem 0.5rem #00004f, -0.05rem 0.05rem 0.5rem #00004f, 0.05rem -0.05rem 0.5rem #00004f;
}

.nav ul a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  text-shadow: 0.25rem 0.25rem 0.5rem #00004f, -0.25rem -0.25rem 0.5rem #00004f, -0.25rem 0.25rem 0.5rem #00004f, 0.25rem -0.25rem 0.5rem #00004f;
}

li {
  list-style: none;
}

.contenido, .contenido__community, .contenido__pricing, .contenido__support {
  width: 60%;
  min-height: calc(100vh - 230px);
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

.contenido__parrafos {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.contenido__img {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenido__img img {
  height: 100%;
  width: auto;
}

.contenido .carousel, .contenido__community .carousel, .contenido__pricing .carousel, .contenido__support .carousel {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  justify-items: center;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: -1;
}

.contenido .carousel img, .contenido__community .carousel img, .contenido__pricing .carousel img, .contenido__support .carousel img {
  width: 37%;
  -ms-grid-column-align: center;
      justify-self: center;
}

.contenido .carousel h1, .contenido__community .carousel h1, .contenido__pricing .carousel h1, .contenido__support .carousel h1 {
  font-size: 3rem;
}

.contenido__community {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.contenido__pricing {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.contenido__support {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.footer {
  padding: 1.5rem;
  background-color: #514AAC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .nav__footer {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.footer .nav__footer .nav__social {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .nav__footer .nav__social ul {
  width: 100%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

button, .btn {
  background-color: #514AAC;
  color: aliceblue;
  -webkit-box-shadow: 0rem 0.15rem 0.5rem #00004f;
          box-shadow: 0rem 0.15rem 0.5rem #00004f;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

button span, .btn span {
  font-size: 1.2rem;
}

button:hover, .btn:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

i {
  font-size: 1.5rem;
}

.fab.fa-twitter {
  color: #55acee;
}

.fab.fa-facebook {
  color: aliceblue;
}

.fab.fa-instagram {
  color: #C25E30;
}

.img1 {
  -webkit-animation: from-up 1.5s ease;
          animation: from-up 1.5s ease;
}

.img2 {
  -webkit-animation: from-right 1.5s ease;
          animation: from-right 1.5s ease;
}

.img3 {
  -webkit-animation: from-left 1.5s ease;
          animation: from-left 1.5s ease;
}

img {
  -webkit-filter: drop-shadow(5px 20px 15px rgba(0, 0, 79, 0.5));
          filter: drop-shadow(5px 20px 15px rgba(0, 0, 79, 0.5));
}

@keyframes from-right {
  0% {
    opacity: 0%;
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes from-left {
  0% {
    opacity: 0%;
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes from-up {
  0% {
    opacity: 0%;
    -webkit-transform: translatey(80px);
            transform: translatey(80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@media (min-width: 1280px) {
  .contenido, .contenido__community, .contenido__pricing, .contenido__support {
    width: 60%;
    margin: auto;
    margin-top: 2rem;
  }
}

@media (max-width: 1279px) {
  .contenido, .contenido__community, .contenido__pricing, .contenido__support {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
  }
}

@media (max-width: 1080px) {
  .contenido, .contenido__community, .contenido__pricing, .contenido__support {
    grid-gap: 0px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr);
  }
  .contenido img, .contenido__community img, .contenido__pricing img, .contenido__support img {
    width: 70%;
    height: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .contenido p, .contenido__community p, .contenido__pricing p, .contenido__support p {
    text-align: center;
  }
  .nav {
    width: 80%;
  }
}

@media (min-width: 890px) {
  .nav {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .nav .logo__responsive {
    display: none;
  }
  .nav .bars {
    display: none;
  }
  .nav #check {
    display: none;
  }
}

@media (max-width: 890px) {
  .header {
    /* position: fixed;
        top: 0px;
        width: 100%;
        z-index: 3;
        box-shadow: $box-shadow;
        transition: all 0.5s; */
  }
  .contenido, .contenido__community, .contenido__pricing, .contenido__support {
    min-height: calc(100vh - 230px);
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .nav .nav__menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    position: fixed;
    width: 100%;
    height: 30%;
    top: 121px;
    background-color: aliceblue;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 1;
  }
  .nav .nav__menu img {
    display: none;
  }
  .nav .bars {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    color: aliceblue;
    cursor: pointer;
  }
  .nav #check {
    display: none;
  }
  .nav #check:checked ~ .nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=custom.css.map */