@import 'global';
@import 'animaciones';

.navbar{
    z-index: 3;
}

.main-container{
    min-height: calc(100vh - 252px);
    align-content: center;
}

.carousel-item{
    display: block;
    position: static;
    max-height: 500px;
    background-size: cover;
}

